sudo: false
language: python
before_install:
- nvm install node && nvm use node
- node --version
- npm install --python=python2 -g dredd --no-optional
- bundle install
python:
- '2.7'
- '3.2'
- '3.3'
- '3.4'
- '3.5'
script:
- python -B -m unittest discover
- pip install -e .
- bundle exec cucumber
deploy:
  provider: pypi
  distributions: sdist
  user: apiaryio
  password:
    secure: brE9tMvyld8s56TSFs3uXZTHZPmjXzLMs6nGPqy5QAchicE79DWqk27i+0kOs4FVVmY1L3dutU7cFIN41KoSRKvUUnFOIVgCMRHOYGJcaQtEA8Z9L7R79EOks3w/pmTevd5a98tYdHC7h0v4RYT6qT+4CobVZg1TLdzikeWRKEDjt+UphxkJlq0SPxIoW4Wcz0uoM4iO/gsgiZFviDDaMmzSHynzGg/aFqKQkgzJxZG4hZKsbTmFFp7utOZmZ/NcF7kECZ5UmRhdzfg7HQMZpcvpsFskv80b9I8aKK/IlwDZHJYQWyBeY5ihI9bwq7/jpRVeVOCyuNQiWbGew74Ju3JIikK+n5KTCyW23OLjASAHyey+KLwQyXAD4X2p9QnBMzRY50DfM0KmqhZ1kNQ+AJrBPRMTQTejAYfb9kXPHtRpXgyXiLiSI36kcYJAi5uQrmVaIvhndQERgGGHZWWjGkVz768ovR+m3s8WerZUzKzONDQ5o045fVLg/tpOmrSSZySdW4Z1wlZ4xImklMw2CB2+2yTUUku18dge4fwZShCgs6rVQF7ewRqRrnpdw+ifP+e2s3EnD3HcHLcBt0Q6WvUQ6qEYV4ba5BhynnzIUuJOYOmV43oeAsYjLw/In4MKoSltCTo5GcqEsCNWSNcNLjGTDNOhk6kFpd8hZXWyi2g=
  on:
    python: '3.5'
    tags: true
    repo: apiaryio/dredd-hooks-python
